.main-container {
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 39px;
  border: #6e82e5 1px solid;
}

.config-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.MuiButton-containedPrimary {
  background-color: #3f51b5 !important;
  width: 50%;
}
